<div class="header">
    <ul>
        <li>{{#link-to "index"}}&lt; back{{/link-to}}</li>
        <li><a href="javascript:void(0)">Checklists</a></li>
    </ul>
    <div class="header-secondary-links">
        <ul>
            <li><a href="javascript:void(0)" {{action "toggleModal"}}>Add Checklist</a></li>
        </ul>
    </div>
</div>

<div class="wrapper">
    {{#each sortedList as |checklist|}}
        <h3>{{#link-to "checklist" checklist.id}}{{checklist.name}}{{/link-to}}</h3>
    {{/each}}
</div>

{{#if isShowingModal}}
    {{#modal-dialog close="toggleModal" translucentOverlay=true}}
        {{input type="text" placeholder="Name" value=inputName}}
        <button {{action "toggleModal"}} class="close">Close</button>
        <button {{action "createChecklist"}}>Create</button>
    {{/modal-dialog}}
{{/if}}
