<div class="header">
    <ul>
        <li>{{#link-to "index"}}&lt; back{{/link-to}}</li>
        <li><a href="javascript:void(0)">Recipes</a></li>
    </ul>
    <div class="header-secondary-links">
        <ul>
            <li><a href="javascript:void(0)" {{action "toggleModal"}}>Add Recipe</a></li>
        </ul>
    </div>
</div>

<div class="wrapper">
    <ul class="checklist">
        {{#each model as |recipe|}}
            {{recipe-item model=recipe}}
        {{/each}}
    </ul>
    <div class="controls text-center">
        <button {{action "generateList" }}>Generate Grocery List</button>
    </div>
</div>

{{#if isShowingModal}}
    {{#modal-dialog close="toggleModal" translucentOverlay=true}}
        {{input type="text" placeholder="Name" value=inputName}}
        <button {{action "toggleModal"}} class="close">Close</button>
        <button {{action "createRecipe"}}>Create</button>
    {{/modal-dialog}}
{{/if}}
