{{#if isEditing}}
    {{input type='text' class='edit' focus-out='save' value=model.name}}
{{else}}
    <input type='checkbox' id='item_{{model.id}}' checked={{model.status}} onchange={{action 'toggleStatus'}}>
    <label class='checkbox checkbox-green' for='item_{{model.id}}'></label>
    <span {{action 'edit' on='doubleClick'}}>{{#link-to "recipe" model.id}}{{model.name}}{{/link-to}}</span>
    <button {{action 'remove'}} class='destroy'>X</button>
{{/if}}
